.wrapper {
  margin-bottom: 24px;

}

.item-gird {
  display: grid;  
  grid-template-columns: 45% 45%;
  gap: 24px;
  align-content: start;
  justify-content: start;
  margin-top: 16px;
 
}

.show-more{
  width:fit-content;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 16px;
  margin-bottom: 32px;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}