.wrapper {
  min-width: 340px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 7px 16px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;

  + .wrapper {
    margin-left: 20px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.primary {
  background-color: var(--green-light);
  color: #fff !important;

  &:hover {
    background-color: var(--green-dark);
  }
}

.text {
  min-width: 0px;
  padding: 7px 16px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

//Button size
.medium {
  min-width: 100px;
  padding: 12px 32px;
}
