.wrapper {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  margin-top: 40px;
}

.inner {
  display: flex;
  margin-top: 12px;
}

.description {
  flex: 1.5;
  margin-right: 120px;
  font-size: 1.8rem;
}

.information {
  flex: 1;
  display: flex;
}

.information-columns {
  width: 50%;
}

.information-item {
  margin-bottom: 24px;
  text-transform: capitalize;

  p {
    margin-top: 6px;
  }
}
