.wrapper{
    width: 30%;
    // min-width: 20vw;
    height: fit-content;
    margin-right: 24px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
