.top-content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 8px 12px;
  }
  .title {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
    // line-height: 100%
  }