.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-height: 1000px;
    max-height: min((100vh - 60px) - 190px, 734px);
    // min-height: 100px;
    // margin-top: 20px;
    padding-top: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    z-index: 1 ;
    overflow: hidden auto;
}
