.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 34px 10px 34px;

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  img {
    width: 65px;
    height: 65px;
  }

  p {
    flex: 1;
    margin-left: 20px;
    font-size: 1.6rem;
  }
}

.icon-fill {
  font-size: 2.6rem;
  color: #ff5d5d;
}
